<main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> Users</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% 
                      @count = 0
                      @users.each do |user| 
                    %>
                      <tr>
                        <td><%= @count += 1 %></td>
                        <td><%= user.email %></td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>